html {
    background: url("../images/bean3.png") no-repeat center center fixed,
                url("../images/red.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: contain;
    /* -moz-background-size: cover;
    -o-background-size: cover; */
    /* background-position: 0 100%; */
    background-position: center;
    background-color: black;
}

body {
    
}

.container-fluid {
    /* which one works best? */
    width: 100%;
    margin: 0 auto;
    color: white;
}

#top-section {
    margin-top: 70px;
    background-color: black;
    padding: 30px 120px;
}

input#sitcom-input {
    margin-bottom: 10px;
}

input#add-sitcom {
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
}

#sitcom-dump {
    background: black;
}

/* button[type=button] {
    background-color: black;
    border: 1px solid;
    border-color: red;
} */

.sitcom-btn {
    background-color: black;
    color: white;
    border: 1px solid;
    border-color: red;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;

}

label {
    font-size: 28px;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
}

.sitcom {
    padding: 10px;
}

#sitcom-view {
    justify-content: space-evenly;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}